<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="fin">

<div class="header">
    <h1>Keskustelusovellus</h1>
    </div>

<br>

<body>
{%if session.username%}
<div class="buttons">
    Olet sisällä {{ session.username }}!
    <a href="/logout"> Kirjaudu ulos</a>
    <a href="/savedposts">Tallennetut postaukset</a>
</div>

{%endif%}

{% if not session.username %}
    </p>
    <a href="/login">Kirjaudu sisään</a>
    </p>
    <a href="/register">Uusi käyttäjä</a>
    </p>
{% endif %}



<h3>Etsi keskusteluja:</h3>
</p>
<form action="/search" method="POST">
    <input type="text" name="key">
    <input id="pressingbutton" type="submit" value="Hae">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>


</p>
<h2>Viestialueet</h2>
</p>
{% if session.admin == 1%}
    <form action="/createroom" method="POST">
        Uusi huone: 
        </p>
        <input type="text" name="room">
        <input id="pressingbutton" type="submit" value="Luo">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>


{% endif %}

</br>

{% for topic in rooms %}
<nav>
<li>

    <a href="/messages/{{topic.room_id}}"> {{ topic[0] }}</a>
    <p>
    {% if session.admin == 1%}
        <form action="/delete_room" method="POST">
            <input type="hidden" name="room_name" value="{{ topic[0] }}">
            <input id="pressingbutton" type="submit" value="Poista">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endif %}
    <br>
</nav>
{% endfor %}

</body>
</html>
