<h1>Keskustelusovellus</h1>

{%if session.username%}
    <p>Olet sisällä {{ session.username }}!</p>

    <a href="/logout"> Kirjaudu ulos</a>
    </p>
    <a href="/savedposts">Tallennetut postaukset</a>
    </p>

{%endif%}

{% if not session.username %}
    </p>
    <a href="/login">Kirjaudu sisään</a>
    </p>
    <a href="/register">Uusi käyttäjä</a>
    </p>
{% endif %}



<h3>Etsi keskusteluja:</h3>
</p>
<form action="/search" method="POST">
    <input type="text" name="key">
    <input type="submit" value="HAE">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>


</p>
<h2>Viestialueet</h2>
</p>
{% if session.admin == 1%}
    <form action="/createroom" method="POST">
        Uusi huone: 
        <input type="text" name="room">
        <input type="submit" value="Luo">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>


{% endif %}


{% for topic in rooms %}
</br>
    <a href="/messages/{{topic.room_id}}"> {{ topic[0] }}</a>
    <p>
    {% if session.admin == 1%}
        <form action="/delete_room" method="POST">
            <input type="hidden" name="room_name" value="{{ topic[0] }}">
            <button type="submit">Poista</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endif %}
</br>
{% endfor %}
