<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>


<h1>Kirjaudu sisään</h1>
</p>
<form action="/login" method="post">
Nimi:
<input type="text" name="username">
Salasana:
<input type="text" name="password">
<input id="pressingbutton" type="submit" value="Kirjaudu sisään">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="linktext">
    <a href="/">  <h3>Etusivulle</h3></a>
</div>

</body>