<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<h1>{{post[3]}}</h1>
<h3>{{post[4]}}</h3>
{{post[5]}}
<a href="/">  <h3>Etusivulle</h3></a>
{%if session.username%}
    <form action="/post/{{post.post_id}}" method="POST">
        <h2>Uusi kommentti:</h2>
        <b> 
    </p>
        Viesti:
        <input type="text" name="content">
        <input id="pressingbutton" type="submit" value="Luo">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endif %}
<p>

{% for comment in comments %}
<nav>
<li>
    {{ comment.content }}
    <p>
    {{ comment.time }}
    {% if session.admin == 1%}
        <form action="/delete_comment" method="POST">
            <input type="hidden" name="comment" value="{{ comment.comment_id }}">
            <button id="pressingbutton" type="submit">Poista</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endif %}
    <br>
</nav>
{% endfor %}


</body>