täällä juttuja

{% for post in posts %}
    <p>
    {%if session.username%}
        <a href="/post/{{post.post_id}}"> {{ post.header }}</a>
        {% else %}
        <b>{{ post.header }}</b>
    {%endif%}
    <p>
    {{post.content}}

    <form action="/remove_from_saved" method="POST">
        <input type="hidden" name="post" value="{{ post.post_id }}">
        <button type="submit">Poista tallennetuista</button>
    </form>
    
    <p>
    <form action="/add_post_to_saved" method="POST">
        <input type="hidden" name="post" value="{{ post.post_id }}">
        <button type="submit">Tallenna postaus</button>
    <p> 
    {% if session.admin == 1%}
        <form action="/delete_post" method="POST">
            <input type="hidden" name="post" value="{{ post.post_id }}">
            <button type="submit">Poista</button>
        </form>
    {% endif %}

    </br>
{% endfor %}
